<div class="mainav" id="mainav">
	<ul class="mainopts__list">
		<li class="mainopt mainopt--maintenance">
		<a class="mainopt__title mainopt__title--parent"> <!-- '.mainopt__title--parent' significa que tiene submenu ('.mainopt__drop') -->
				First menu option
		</a>
			<div class="mainopt__drop">
				<ul class="mainsubopts__list">
					<li class="mainsubopt"><a class="icon-revision" href="/baseexample/first/#/summary">Example
							1</a></li>
					<li class="mainsubopt"><a class="icon-intervention" href="/baseexample/second/#/summary">Example
							2</a></li>
				</ul>
			</div></li>
		<li class="mainopt mainopt--planning"><a class="mainopt__title"> Second </a></li>
		<li class="mainopt mainopt--warehouse"><a class="mainopt__title"> Third </a></li>
	</ul>
</div>