<div class="htool" id="htool--aurapps">
	<h2 class="htool__title icon-aura-isotype">
		<span class="htool__name">Aura apps</span>
	</h2>
	<div class="htool__drop">
		<div class="aurapps gradient">
			<p class="aurapps__title">
				<a href="#"><img src="/images/aura.svg" height="42" width="124" alt="Aura · The invisible maintenance.®" /></a>
			</p>
			<ul class="aurapps__list">
				<li class="aurapp aurapp--disabled">
				    <a href="#"><img src="/images/aura-wheel.svg" height="30" width="107" alt="Aura Wheel" /> <span class="aurapp__info"><b>+</b>info</span></a>
				</li>
				<li class="aurapp">
				    <a href="#"> <img src="/images/aura-logs.svg" height="36" width="80" alt="Aura Logs" /> </a>
				</li>
				<li class="aurapp aurapp--disabled">
				    <a href="#"><img src="/images/aura-diagnostic.svg" height="36" width="166" alt="Aura Diagnostic" /> <span class="aurapp__info"><b>+</b>info</span></a>
				</li>
				<li class="aurapp">
				    <a href="#"><img src="/images/aura-trace.svg" height="30" width="97" alt="Aura Trace" /></a>
				</li>
				<li class="aurapp">
				    <a href="#"><img src="/images/aura-lube.svg" height="30" width="81" alt="Aura Lube" /></a>
				</li>
			</ul>
			<div class="icon-close-circle">
			     <span>Close</span>
			</div>
		</div>
	</div>
</div>