<div class="bcrumbs">
	<a class="bcrumbs__item" href="#">
		<span class="bcrumbs__t">Revisions</span>
	</a>
	<span class="bcrumbs__arrow icon-arrow-right icon--standalone icon-x1">
		<span>→</span>
	</span>
	
	
	<a class="bcrumbs__item" href="#">
		<span class="bcrumbs__t">Revision:</span>
		<b class="bcrumbs__d">IS7 02 Monthly</b>
	</a> 
	
	<span class="bcrumbs__arrow icon-arrow-right icon--standalone icon-x1"><span>→</span></span>
	<span class="bcrumbs__item">
		<a class="bcrumbs__tag button button-pill button-flat-primary button-xs" role="button" href="#">Preventive work order</a>
	</span>
</div>