<div class="htool" id="htool--user">
	<h2 class="htool__title icon-user">
		<span class="htool__name">User</span> <span class="bubble">24</span>
	</h2>
	<div class="htool__drop">
		<div class="userbox">
			<h3 class="htool__drop__title">${user.username}</h3>
			<p class="userbox__position">Workshop chief</p>
			<ul class="userbox__options">
				<li><a class="icon-notifications" href="#">Notifications <span class="bubble">24</span></a></li>
				<li><a class="icon-settings" href="#">Settings</a></li>
			</ul>
			<p>
			     <a href="${logoutUrl}" class="button button-rounded button-flat-primary icon-logout" role="button">Logout</a>
			</p>
		</div>
	</div>
</div>