<div class="headtitle">
	<div class="headtitle__status">
		<div class="status status--paused status--xl status--vertical">
			<span class="status__label">Paused</span>
		</div>
	</div>

	<div class="headtitle__main">
		<span class="ticket ticket--xl">89701010</span>
		<h2 class="maintitle">General oil check needed to be made for maintenance purposes</h2>
		<ul class="metaline">
			<li>
				<span>Project</span>
				<b>TCDD Estambul</b>
			</li>
			<li>
				<span>Train unit</span>
				<b>UT34243-C</b>
			</li>
			<li>
				<span><abbr title="Department">Dept.</abbr></span>
				<b>Wainwright Workshop</b>
			</li>
			<li>
				<span>Location</span>
				<b>Santa Barbara (California)</b>
			</li>
		</ul>
	</div>
</div>